@font-face {
  font-family: 'kelson-bold';
  src: url("/public/fonts/kelson_sans_bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/kelson_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/kelson_sans_bold-webfont.woff2") format("woff2"), url("/public/fonts/kelson_sans_bold-webfont.woff") format("woff"), url("/public/fonts/kelson_sans_bold-webfont.ttf") format("truetype"), url("/public/fonts/kelson_sans_bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'kelson-light';
  src: url("/public/fonts/kelson_sans_regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/public/fonts/kelson_sans_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/kelson_sans_regular-webfont.woff2") format("woff2"), url("/public/fonts/kelson_sans_regular-webfont.woff") format("woff"), url("/public/fonts/kelson_sans_regular-webfont.ttf") format("truetype"), url("/public/fonts/kelson_sans_regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.bold {
  font-family: 'kelson-bold';
  display: block;
  color: #fff;
  font-size: 25px; }

h2 {
  font-size: 17px;
  margin: 10px 0;
  color: #E3AE57; }

.relative {
  position: relative; }

.center {
  text-align: center; }

.mb20 {
  margin-bottom: 20px; }

.link {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff; }
  .link:hover {
    color: #E3AE57;
    text-decoration: none; }

.fa-crosshairs,
.fa-clock-o,
.fa-frown-o,
.fa-heart,
.fa-bomb,
.fa-money,
.fa-trophy,
.fa-shield {
  position: absolute;
  left: 0;
  top: 0; }

body {
  background-color: #232B2B;
  font-family: 'kelson-light', Arial, sans-serif;
  color: #fff; }

.noStats {
  text-align: center;
  font-size: 2em;
  margin: 40px auto; }

.topStat {
  position: relative;
  left: 50px; }

.dashboard.navbar {
  color: #fff; }
  .dashboard.navbar ul {
    padding: 0;
    list-style: none; }
    .dashboard.navbar ul li {
      text-decoration: none;
      display: inline-block; }
  .dashboard.navbar a {
    color: #fff; }
  .dashboard.navbar .project-title {
    padding-top: 10px;
    text-align: center;
    font-family: 'kelson-bold', Arial, sans-serif;
    -webkit-box-shadow: 0 1px 2px 1px #232B2B;
    -moz-box-shadow: 0 1px 2px 1px #232B2B;
    -ms-box-shadow: 0 1px 2px 1px #232B2B;
    box-shadow: 0 1px 2px 1px #232B2B; }
    .dashboard.navbar .project-title a {
      font-size: 40px;
      display: inline-block;
      margin: 0 auto;
      color: #DC3D24; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

.searchPlayer input {
  font-family: 'FontAwesome'; }
.searchPlayer .wrapper {
  position: relative; }
  .searchPlayer .wrapper i {
    position: relative;
    right: -10px;
    z-index: 1;
    color: #fff;
    top: 8px; }
.searchPlayer #search {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background-color: #E3AE57;
  color: #fff;
  border: 0;
  padding: 10px 14px;
  position: relative;
  width: 50%;
  text-align: center; }
.searchPlayer .inputs {
  text-align: center; }

.enterName {
  position: relative;
  left: -15px;
  margin-top: 20px; }

.profileHeader,
.chartHeader {
  background: rgba(68, 68, 68, 0.4);
  margin: 50px 0; }
  .profileHeader .avatar,
  .chartHeader .avatar {
    width: 130px;
    height: 130px;
    margin-right: 10px; }
    .profileHeader .avatar img,
    .chartHeader .avatar img {
      max-width: 100%;
      height: 100%; }

.favouriteWeapon {
  text-transform: uppercase; }

.chartHeader {
  padding: 40px 10px;
  text-align: center; }

#barChart {
  width: 100%;
  height: 100%;
  margin-top: 20px; }

#myChart {
  float: right; }

.recentlyViewed ul {
  padding-left: 0; }
  .recentlyViewed ul li {
    list-style: none;
    display: inline-block;
    width: 25%;
    padding: 22px; }
    .recentlyViewed ul li a {
      color: #fff;
      display: block; }
      .recentlyViewed ul li a.playerName {
        font-size: 16px; }

/*# sourceMappingURL=style.css.map */
