<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="profileHeader">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<figure class="avatar">
					<img ng-src="{{home.players.avatarfull}}" />
				</figure>
			</div>
			<div class="col-md-10 col-sm-2 col-xs-12">
				<h2 class="bold">{{home.players.personaname}}</h2>		
				<h2>{{home.players.realname}}</h2>
				<h2><span class="bold"><a ng-href="{{home.players.profileurl}}" target="_blank" class="link">Click for Profile</a></span></h2>					
			</div>					
		</div>
	</div>
</div>