<div>
	<div class="charts">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="chartHeader">
				<h2 class="bold">Visual Data</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<span class="bold center mb20">Top 5 weapons by kill count</span>
					<canvas id="barChart" ></canvas>
				</div>
				<div class="col-md-4 col-sm-4">
					<span class="bold center mb20">K/D Ratio</span>
					<canvas id="myChart" width="200" height="200"></canvas>
				</div>
			</div>				
		</div>
	</div>	
</div>